.App {
  text-align: center;
}

h1 {
  text-align: center;
  padding-top: 15px;
  background-color: rgb(145, 127, 96);
  height: 90px;
  color: rgba(0, 0, 0, 0.66);
}

footer {
  text-align: center;
  margin-top: 50px;
}

.carousel {
  width: 600px;
  height: 404px;
  margin-left: 410px;
  margin-top: 150px;
  border: 2px solid black;
}

.image {
  width: 600px;
  height: 400px;
}